body {
  font-size: 14px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  margin: 0;
  margin-bottom: 2em;
}

.page-header .main-title {
  margin: 0;
}

.game-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2em;
  margin-right: 2em;
}
/* Existing CSS styles */

.page-layout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 1em;
  margin: 0 2em;
  border: 1px solid lightblue;
  padding: 1em;
}

.page-layout-grid p,
.page-layout-grid input,
.page-layout-grid label,
.page-layout-grid .game-container,
.page-layout-grid button,
.page-layout-grid .starting-message {
  width: 100%;
}

#playerCount {
  grid-column: span 2;
}

label[for="playerSlider"] {
  grid-column: span 2;
}

input[type="range"] {
  width: 100%;
}

#startButton {
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.starting-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  color: blue;
  opacity: 0;
  transition: opacity 1s;
}

#imageContainer {
  width: 30vw; /* 30% of the viewport width */
  margin: 2em auto; /* Centering the image container */
}

#playerImage {
  width: 100%;
  height: auto;
}
